<html>
  <head><title>Testing Notify/Listen</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <style type="text/css">
      .bar {width: 20px; height: 20px;}
    </style>
    <script>
      window.onload = function() {
        ws = new WebSocket("ws://localhost:8000/tester");       
        ws.onmessage = function(msg) {
          avg=JSON.parse(msg.data);
          document.querySelector("#id1").innerHTML = avg.eng.toString();
        }
      }
    </script>
  </head>
  <body>
    <div style="width: 400px;">
      <div id="red" class="bar"
          style="background-color: red;">&nbsp;</div>
      <div id="green" class="bar"
          style="background-color: green;">&nbsp;</div>
      <div id="blue" class="bar"
          style="background-color: blue;">&nbsp;</div>
      <div id="id1"> 
        hey
      </div>
    </div>
  </body>
</html>